*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(240,242,245);
}
nav{
    width: 100%;
    display: flex;
    background: rgb(24,119,242);
}
.logo_lines{
    display: flex;
    width: 60%;

}
.logo{
    font-size: 30px;
    color: white;
    font-weight: 900;
    padding-left: 10px;
}
.menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.horizon{
    display: none;
}
.horizon hr{
    color: white;
    width:  20px;
    padding: 2px 5px;
}


/* nav media screen */
@media screen and (max-width : 1000px) {
    .logo{
        width: 50%;
    }
    .menu{
        width: 50%;
    }
}

@media  screen and (max-width : 700px) {
    nav{
        flex-direction: column;
    }
    .logo_lines{
        width: 100%;
    }
    .logo{
        width: 90%;
    }
    
    .links{
        display: block;
        text-align: center;
    }
    .horizon{
        display: block;
        font-size: 30px;
        color: white;
        padding: 0px 4px;
    }
    .menu{
        position: absolute;
        display: block;
        top: -72px;
        z-index: -1;
        transition: all .9s ease-in-out;
        width: -10%;
    }
    .display{
        width: 100%;
        text-align: center;
        top: 40px;
        background: rgb(24,119,242);
    }
    .links{
        border: 0.5px solid gainsboro;
    }

    
}




















.wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.left{
    /* display: flex; */
    width: 60%;
    margin: 200px 0px;
    margin-left: 40px;
    /* border: 2px solid green; */
}
.sub_left{
    width: 80%;
    /* border: 2px solid blue; */
    margin: 0px auto;
    /* background-color: white; */
}
.sub_left h1{
    font-size: 60px;
    color: rgb(24,119,242);
    font-weight: 900;
    padding-bottom: 7px;
}
.sub_left h2{
    font-size: 30px;
    color: rgb(28,30,33);
    font-weight: 300;
}
.right{
    /* display: flex; */
    width: 40%;
    /* border: 2px solid yellow; */
    text-align: center;
}

form{
    
    /* border: 2px solid blue; */
    height: 300px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0px auto;
    margin-top: 150px;
    background: white;
}
form input {
    height: 35px;
    /* padding-left: px; */
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
    padding: 22px 5px;
    background-color: rgb(232,240,254);
    border: 0px;
    outline: none;

}
input:focus{
    border: 1px solid rgb(24,119,242);
}
form #login{
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 3px;
    /* border: 2px solid yellowgreen; */
    padding: 7px 4px;
    background-color: rgb(24,119,242);
    color: white;
    font-weight: 600;
    /* width: 60%; */

}
form h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: medium;
    color: rgb(24,119,242);
    
}
.bottom{
    margin: 0px auto;
}

#create_new{
    width: 50%;
    margin: 0px auto;
    padding: 10px 3px;
    color: white;
    background-color: rgb(59,172,36);
    border-radius: 3px;
    font-weight: 600;
}



/* Wrapper Media Screen */
@media screen and (max-width : 700px) {
    .wrapper{
        flex-direction: column;
        width: 100%;
    }
    .left{
        width: 100%;
        /* height: 400px; */
        margin: 150px auto;
        /* border: 1px solid black; */
    }
    .right{
        width: 100%;
        /* border: 1px solid green; */
        margin: 0px auto;
        margin-top: -150px;
        padding-bottom: 20px;
    }
    .top{
        margin-top: -65px;
    }

    
}



